#messageTaskAdded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: hsl(236, 33%, 92%);
  border: 1px solid #2f2e2e;
  width: 415px;
  border-radius: 12px;
  z-index: 200;
  display: none;
}

#janelaFundo {
  position: fixed;
  top: 0;
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  z-index: 100;
  right: 0;
  display: none;
}

#btnFechar {
  position: absolute;
  top: -25px;
  right: -18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #2d2c2c;
  background: #2d2c2c;
  color: #fff;
  outline: none;
  cursor: pointer;
}

#succesfully {
  color: black;
}
